
html,
body {
    height: 100%;
    font-size: 16px;
}

.pl-0
{
    padding-left: 0;
}

.pr-0
{
    padding-right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    font-size: 2.5rem;
    background: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

body
{
    background-color: #f4f3ef;
}

#all-questions
{
    width: 100%;
}

.questions-container .row
{
    margin-left: 0;
    margin-right: 0;
}
#statement
{
    width: 100%;
    margin: 0;
    margin-top: 1.5rem;
    padding: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
}

